
.container {
    display: flex;
    border: 1px solid black;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    background-color: cornflowerblue;
    min-height: 800px;
    justify-content: center;
}
.comment_container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    width:100%;
    flex-flow: column wrap;
    /*justify-content: center;*/
    align-items: center;
}
.comment_box {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    /*justify-content: center;*/
    align-items: center;
}
.comment_box >div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.comment_box>div>textarea {
    resize: none;
}
.comment_box >div> button {
    margin : 10px;
}
.comment_list_container {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    width:100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.btnDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}
.btnDiv>button {
    margin:10px;
}
